.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
.vscode/launch.json
.vscode/tasks.json
.vs/FCG Trabalho Final/FileContentIndex/1b3eaa4a-c48a-4284-ad35-4d943641c060.vsidx
.vs/FCG Trabalho Final/FileContentIndex/8fcd4271-0ba6-4761-8ab2-6e108a3c99c0.vsidx
.vs/FCG Trabalho Final/v17/.suo
.vs/FCG Trabalho Final/v17/Browse.VC.db
.vs/FCG Trabalho Final/v17/Browse.VC.db-shm
.vs/FCG Trabalho Final/v17/Browse.VC.db-wal
.vs/FCG Trabalho Final/v17/Browse.VC.opendb
.vs/FCG Trabalho Final/v17/ipch/AutoPCH/276627b78763e8f2/GLAD.ipch
.vs/FCG Trabalho Final/v17/ipch/AutoPCH/45985fdf578a9b80/GLAD.ipch
.vs/FCG Trabalho Final/v17/ipch/AutoPCH/b2f70ccbcd116122/GLAD.ipch
.vs/FCG Trabalho Final/v17/ipch/AutoPCH/d8408bb0aa43c0d5/MAIN.ipch
.vs/INF01047-FCG-Trabalho-Final/FileContentIndex/3f9145ee-d352-4bbd-828d-8ee9ed9b1013.vsidx
.vs/INF01047-FCG-Trabalho-Final/FileContentIndex/5559f013-9759-4322-a980-f3af1027910f.vsidx
.vs/INF01047-FCG-Trabalho-Final/FileContentIndex/bc7b1124-111e-4c51-bd29-c3a5592a446e.vsidx
.vs/INF01047-FCG-Trabalho-Final/FileContentIndex/da052265-2de9-46a8-b1bc-95cd17cb4489.vsidx
.vs/INF01047-FCG-Trabalho-Final/FileContentIndex/eca01d94-0148-47fe-a422-fd102a260753.vsidx
.vs/INF01047-FCG-Trabalho-Final/v17/.wsuo
.vs/INF01047-FCG-Trabalho-Final/v17/Browse.VC.db
.vs/INF01047-FCG-Trabalho-Final/v17/ipch/AutoPCH/37a9f3d2d7e32cd6/MAIN.ipch
.vs/INF01047-FCG-Trabalho-Final/v17/ipch/AutoPCH/3c0b3889a75d8781/MAIN.ipch
.vs/INF01047-FCG-Trabalho-Final/v17/ipch/AutoPCH/5fa84d61d6675cd3/MAIN.ipch
.vs/INF01047-FCG-Trabalho-Final/v17/ipch/AutoPCH/60797d2a452f0cc6/GLAD.ipch
.vs/INF01047-FCG-Trabalho-Final/v17/ipch/AutoPCH/a0cb4c2ddb14819f/MAIN.ipch
.vs/INF01047-FCG-Trabalho-Final/v17/ipch/AutoPCH/b93a56597cfb2e28/MAIN.ipch
.vs/INF01047-FCG-Trabalho-Final/v17/ipch/AutoPCH/bda17b78241d5f82/MAIN.ipch
